.step-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.workers-count {
    p-button {
        margin: 5px;
    }
}

.step-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

:host::ng-deep {
    .p-datepicker .p-datepicker-panel {
    min-width: 163%;
}
}

.time-section {
  text-align: center;
  margin-bottom: 1.5rem;
}

.time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.time-input {
  width: 80px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.colon {
  font-size: 28px;
  font-weight: bold;
}

.p-selectbutton {
  justify-content: center;
}

hr {
  margin: 2rem 0;
}

.form-section {
  max-width: 400px;
  margin: auto;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1.5rem;
}

.p-inputtext,
.p-inputtextarea,
.p-dropdown {
  border-radius: 0;
  border: 1.5px solid #000;
}
