.landing-container {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

.headline-emphasis {
    color: #63c5da;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headline {
    margin-top: 3rem;
}

.sub-headline {
    color: #65758b;
    font-size: 19px;
}

p-card {
    width: 25%;
    height: fit-content;
}

img {
    width: 100%;
}