.employer-sign-up {
        padding-left: 15%;
    padding-right: 15%;
}

:host::ng-deep p-button {
    width: 100%;
    button {
        width: 100%;
    }
}

p-card {
    flex: 1;
}

.landing-container {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

.headline-emphasis {
    color: #db073d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
}

.headline {
    margin-top: 3rem;
}

.sub-headline {
    color: #65758b;
    font-size: 19px;
}
